<body>
<div class="d-flex" id="wrapper">
  <app-side-bar-infrastructure></app-side-bar-infrastructure>
  <div id="page-content-wrapper">
    <h1 class="sousTitre">
      Voici la liste des infrastructures correpondants à votre recherche
    </h1>
    <div>
      <div class="col-md-12" *ngFor="let uneInfrastructure of dts.aAfficherInfra">
        <app-infrastructure [data] = "uneInfrastructure"></app-infrastructure>
      </div>
    </div>
  </div>
</div>
</body>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <a (click)="pagePrecedente()"  class="page-link" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link">{{numeroPage}}</a></li>
    <li class="page-item">
      <a (click)="pageSuivante()" class="page-link" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

