<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <img mat-card-image
           src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSTcA8Ubp1J_I09nrXDy2_Gjg7djpd6Vy9Yim0Rid1rJ_8qQ5q&s"
           alt="Photo of a festival">
    </div>
    <div *ngIf="data !== undefined" class="col-md-9">
      Id Jour:  {{data.idJourF}} <br>
      {{data.nbrPlace}} places réservées <br>
      Choisi le {{data.dateHeureMiseEnPanier}}
    </div>
  </div>
</div>
