/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.mat-button {
  background-color: rgb(52, 62, 122);
  color: white;
}

.mat-mini-fab.mat-accent {
  background-color: rgb(52, 62, 122);
  color: white;
}

.mat-icon {
  color: rgb(52, 62, 122);
}

.mat-datepicker-content, .mat-datepicker-toggle-active {
  color: rgb(52, 62, 122);
}

h1.titre {
  color: rgb(52, 62, 122);
  font-family: Broadway;
  font-size: xx-large;
  text-align: center;
  cursor: pointer;
}

h1.titreRecherche{
  color: rgb(52, 62, 122);
  horiz-align: middle;
}

h1.sousTitre {
  color: rgb(52, 62, 122);
  font-size: large;
  text-align: center;
}

label.sousPartie {
  color: rgb(52, 62, 122);
  font-weight: bold;
}

div.mat-list-item-content{
  color: rgb(52, 62, 122);
}

.padpad{
  padding: 0 0 0 0 !important;
}

mat-list-item.sousCat {
  color: rgb(52, 62, 122);
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
}

.mat-icon {
  vertical-align: middle;
  cursor: pointer;
}

div.recherche{
  padding-left: 30px;
}

// simple sidenav
body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: 0rem;
  width: 15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0rem;
  }
}


// date
span.date{
  color: dimgrey;
}



