<br>
<div *ngIf="reponse !== undefined">
  <div class="row">
    <div class="col-md-8">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Mon panier</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <mat-card-subtitle>Festivals réservés</mat-card-subtitle>
            <div *ngFor="let uneResaFest of reponse.ResaJourFestival">
              <app-recap-fest [data]="uneResaFest"></app-recap-fest>
              <mat-divider></mat-divider>
            </div>
          <br>
            <mat-card-subtitle>Hébergements réservés</mat-card-subtitle>
            <div *ngFor="let uneResaHeberg of reponse.ResaHebergement">
              <app-recap-heb [data]="uneResaHeberg"></app-recap-heb>
              <mat-divider></mat-divider>
            </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Total : {{prix}} €</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <br>
        <mat-card-content>
          <mat-card-subtitle>Sous-total : {{prix}} €</mat-card-subtitle>
          <mat-action-list>
            <button (click)="openDialog()" mat-button>Payer mon panier et obtenir le document PDF</button>
          </mat-action-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
