<nav class="nav" style="z-index: -1">
  <div class="col-md-4">
    <h4 class="retourAccueil" [routerLink]="['/']" >
      <img src="assets/LogoBarre.png" alt="" style="width: 80px">
    </h4> &nbsp;
  </div>

  <div class="col-md-6">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn" (click)="changerPage('panier')">
        <input type="radio">
        <mat-icon>shopping_cart</mat-icon>
        Mon panier
      </label>
      <label class="btn" (click)="changerPage('festivals')">
        <input type="radio">
        <mat-icon>local_activity</mat-icon>
        Mes festivals
      </label>
      <label class="btn" (click)="changerPage('hebergements')">
        <input type="radio">
        <mat-icon>hotel</mat-icon>
        Mes hébergements
      </label>
    </div>
  </div>
  <div class="col-md-2">
    <app-login></app-login>
  </div>
</nav>

<router-outlet></router-outlet>
