.nav {
  background-color: rgb(52, 62, 122);
  vertical-align: center;
}

h4.retourAccueil {
  cursor: pointer;
  color: white;
  font-family: Broadway;
}

label.btn {
  color: white;
}

mat-icon {
  color: white;
}
