<br>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{belAffichage(data.nom)}}</mat-card-title>
    <mat-card-subtitle>{{data.typeFest}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img mat-card-image
         src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSTcA8Ubp1J_I09nrXDy2_Gjg7djpd6Vy9Yim0Rid1rJ_8qQ5q&s"
         alt="Photo of a festival">
    <div class="row">
      N° Département : {{data.numDepartement}}
    </div>
    <div class="row">
      {{data.dateDeDebut}} au {{data.dateDeFin}}<br>
    </div>
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <button (click)="openDialogDetailsFestival(data.idFestival)" mat-button>Réserver</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
