<div class="container">

  <form [formGroup]="rechercheSection">
    <div class="form-group row">
      <div>
        <div class="form-group">
          <label class="sousPartie">Nom du festival</label>
          <input placeholder="Nom" formControlName="nameCtrl">
        </div>
        <div class="form-group">
          <label class="sousPartie">Où ?</label>
          <input placeholder="LIEU" formControlName="lieuCtrl">
        </div>

        <div class="form-group">
          <label class="sousPartie">Quand ?</label>
          <input [matDatepicker]="myDatepickerDebut"
                 formControlName="dateDebutCtrl"
                 placeholder="Arrivée">
          <mat-datepicker-toggle [for]="myDatepickerDebut"></mat-datepicker-toggle>
          <mat-datepicker #myDatepickerDebut [startAt]="dts.startDate"></mat-datepicker>
          <input [matDatepicker]="myDatepickerFin"
                 formControlName="dateFinCtrl"
                 placeholder="Départ">
          <mat-datepicker-toggle [for]="myDatepickerFin"></mat-datepicker-toggle>
          <mat-datepicker #myDatepickerFin [startAt]="dts.startDate"></mat-datepicker>
        </div>
        <div class="row">
          <div *ngIf="erreurDate" class="alert alert-danger" role="alert">
            Attention, vous partez avant d'arriver!
          </div>
        </div>

        <div class="form-group">
          <label class="sousPartie">Qui ?</label>
          <div class="row" style="padding-left: 20px">
            Nombre d'adultes &nbsp;
            <mat-icon (click)="ajouter('adulte', false)">remove</mat-icon>
            <label> {{nbAdultes}} </label>
            <mat-icon (click)="ajouter('adulte', true)">add</mat-icon>
          </div>
          <div class="row" style="padding-left: 20px">
            Nombre d'enfants &nbsp;
            <mat-icon (click)="ajouter('enfant', false)">remove</mat-icon>
            <label> {{nbEnfants}} </label>
            <mat-icon (click)="ajouter('enfant', true)">add</mat-icon>
          </div>
        </div>
        <div class="row">
          <div *ngIf="erreurAucunAdulte" class="alert alert-danger" role="alert">
           Attention, il doit y avoir au moins un adulte!
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <label class="sousPartie">Je veux un festival du genre ... </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-11">
        <mat-list>
          <mat-selection-list [(ngModel)]="listeTypes">
            <mat-list-item class="sousCat" (click)="artsDeLaScene = !artsDeLaScene">
              Arts de la scène
              <mat-icon *ngIf="artsDeLaScene">keyboard_arrow_up</mat-icon>
              <mat-icon *ngIf="!artsDeLaScene">keyboard_arrow_down</mat-icon>
            </mat-list-item>
            <mat-list-option *ngIf="artsDeLaScene" value="Cirque et Arts de la rue">Cirque et arts de la rue</mat-list-option>
            <mat-list-option *ngIf="artsDeLaScene" value="Danse">Danse</mat-list-option>
            <mat-list-option *ngIf="artsDeLaScene" value="Divers Spectacle Vivant">Divers spectacles vivants</mat-list-option>
            <mat-list-option *ngIf="artsDeLaScene" value="Théâtre">Théâtre</mat-list-option>
            <mat-list-option *ngIf="artsDeLaScene" value="Pluridisciplinaire Spectacle Vivant">Pluridisciplinaires spectacles vivants</mat-list-option>
            <mat-list-item class="sousCat" (click)="musiques = !musiques">
              Musiques
              <mat-icon *ngIf="musiques">keyboard_arrow_up</mat-icon>
              <mat-icon *ngIf="!musiques">keyboard_arrow_down</mat-icon>
            </mat-list-item>
            <mat-list-option *ngIf="musiques" value="Musiques actuelles">Musiques actuelles</mat-list-option>
            <mat-list-option *ngIf="musiques" value="Musiques classiques">Musiques classiques</mat-list-option>
            <mat-list-option *ngIf="musiques" value="Pluridisciplinaire Musique">Pluridisciplinaire musique</mat-list-option>
            <mat-list-item class="sousCat" (click)="artsVisuels = !artsVisuels">
              Arts visuels
              <mat-icon *ngIf="artsVisuels">keyboard_arrow_up</mat-icon>
              <mat-icon *ngIf="!artsVisuels">keyboard_arrow_down</mat-icon>
            </mat-list-item>
            <mat-list-option *ngIf="artsVisuels" value="Arts plastiques et visuels">Arts plastiques et visuels</mat-list-option>
            <mat-list-option *ngIf="artsVisuels" value="Cinéma et audiovisuel">Cinéma et audiovisuel</mat-list-option>
            <mat-list-item class="sousCat" (click)="autres = !autres">
              Autres
              <mat-icon *ngIf="autres">keyboard_arrow_up</mat-icon>
              <mat-icon *ngIf="!autres">keyboard_arrow_down</mat-icon>
            </mat-list-item>
            <mat-list-option *ngIf="autres" value="Domaines divers">Domaines divers</mat-list-option>
            <mat-list-option *ngIf="autres" value="Transdisciplinaire">Transdisciplinaire</mat-list-option>
            <mat-list-option value="tout">Peut m'importe du moment que je m'amuse!</mat-list-option>
          </mat-selection-list>
        </mat-list>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <button mat-button (click)="rechercherFestival()">Chercher</button>
  </div>
</div>
