<div class="container">
  <div class="row">
    <div class="col-lg-11 col-md-11 col-sm-6 col-xs-6">
      <h1 mat-dialog-title class="entete" *ngIf="data !== undefined">{{data.festivalInfo.nom}}</h1>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-6 close-icon">
      <mat-icon mat-icon-button (click)="close()" class="btnClose">close</mat-icon>
    </div>
  </div>
</div>

<mat-divider></mat-divider>
<div class="separation"></div>

<mat-dialog-content class="container color" id="test">
  <div class="row">
    <div class="col-lg-11 col-md-11 col-sm-6 col-xs-6">
      <span>{{data.festivalInfo.typeFest}}</span>
      <span *ngIf="data.festivalInfo.complementDomaine !== undefined">, {{data.festivalInfo.complementDomaine}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-11 col-md-11 col-sm-6 col-xs-6">
      <i>Du
        <span class="date">{{data.festivalInfo.dateDeDebut}}</span>
        au
        <span class="date">{{data.festivalInfo.dateDeFin}}</span>
      </i>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-11 col-md-11 col-sm-6 col-xs-6">
      <div class="card">
        <div class="card-header" style="background-color: #003580; color: white">
          <div class="row">
            <div class="col-md-2">
              Date
            </div>
            <div class="col-md-3">
              Catégorie
            </div>
            <div class="col-md-2">
              Prix
            </div>
            <div class="col-md-3">
              Places choisies
            </div>
            <div class="col-md-2">
              Places disponibles
            </div>
          </div>
        </div>
        <div class="card-body">
          <div *ngFor="let jour of data.jours">
            <div class="row">
              <div class="col-md-2">
                {{jour.dateJf}}
              </div>
              <div class="col-md-3">
                {{jour.typePlace.trim()}}
              </div>
              <div class="col-md-2">
               {{jour.prix}} €
              </div>
              <div class="col-md-3">
                <mat-icon (click)="ajouter(jour.typePlace.trim(), false, jour.placesLibres, jour.idJourF)">remove</mat-icon>
                <label> <span *ngIf="jour.typePlace.trim() === 'CAT1'"> {{nbPlacesCat1}} </span> </label>
                <label *ngIf="jour.typePlace.trim() === 'CAT2'"> {{nbPlacesCat2}}</label>
                <label *ngIf="jour.typePlace.trim() === 'SANSCAT'"> {{nbPlacesSansCat}}</label>
                <mat-icon (click)="ajouter(jour.typePlace.trim(), true, jour.placesLibres, jour.idJourF)">add</mat-icon>
              </div>
              <div class="col-md-2">
               {{jour.placesLibres}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row justify-content-center">
    <button (click)="ajouterAuPanier()" mat-button>Ajouter au panier</button>
  </div>
  <br>
  <div class="row justify-content-center">
    <div *ngIf="erreur" class="alert alert-danger" role="alert">
      Attention, vous n'avez sélectionné aucune place!
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="data.festivalInfo.siteWeb !== undefined">
    <i>
      <span>Pour plus d'informations : </span>
      <a href="{{data.festivalInfo.siteWeb}}">{{data.festivalInfo.siteWeb}}</a>
    </i>
  </div>
</mat-dialog-content>


