<p>
  <button type="button" class="btn btn-outline-success" *ngIf="!isConnected" (click)="loginGoogle($event)">Se connecter</button>
  <button type="button" class="btn btn-outline-danger" *ngIf="isConnected" (click)="deLoginGoogle()">Se déconnecter</button>
</p>
