<div class="container">
  <div class="row">
    <form [formGroup]="rechercheSection">
      <div class="form-group row">
        <div>

          <div class="form-group">
            <label class="sousPartie">Nom de l'infrastructure</label>
            <input placeholder="Nom" formControlName="nameCtrl">
          </div>
          <div class="form-group">
            <label class="sousPartie">Où ?</label>
            <div class="col-md-2">
            </div>
            <input placeholder="LIEU" formControlName="lieuCtrl">
          </div>

          <div class="form-group">
            <label class="sousPartie">Quand ?</label>
            <input [matDatepicker]="myDatepickerDebut"
                   formControlName="dateDebutCtrl"
                   placeholder="Arrivée">
            <mat-datepicker-toggle [for]="myDatepickerDebut"></mat-datepicker-toggle>
            <mat-datepicker #myDatepickerDebut [startAt]="dts.startDate"></mat-datepicker>
            <input [matDatepicker]="myDatepickerFin"
                   formControlName="dateFinCtrl"
                   placeholder="Départ">
            <mat-datepicker-toggle [for]="myDatepickerFin"></mat-datepicker-toggle>
            <mat-datepicker #myDatepickerFin [startAt]="dts.startDate"></mat-datepicker>
          </div>
          <div class="row">
            <div *ngIf="erreurDate" class="alert alert-danger" role="alert">
              Attention, vous partez avant d'arriver!
            </div>
          </div>

          <div class="form-group">
            <label class="sousPartie">Qui ?</label>
            <div class="row" style="padding-left: 20px">
              Nombre d'adultes &nbsp;
              <mat-icon (click)="ajouter('adulte', false)">remove</mat-icon>
              <label> {{nbAdultes}} </label>
              <mat-icon (click)="ajouter('adulte', true)">add</mat-icon>
            </div>
            <div class="row" style="padding-left: 20px">
              Nombre d'enfants &nbsp;
              <mat-icon (click)="ajouter('enfant', false)">remove</mat-icon>
              <label> {{nbEnfants}} </label>
              <mat-icon (click)="ajouter('enfant', true)">add</mat-icon>
            </div>
          </div>
          <div class="row">
            <div *ngIf="erreurAucunAdulte" class="alert alert-danger" role="alert">
              Attention, il doit y avoir au moins un adulte!
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="form-group">
      <div class="row">
        <label class="sousPartie">Je veux aller dans un ... </label>
      </div>
      <div class="row">
        <mat-selection-list [(ngModel)]="listeTypes">
          <mat-list-option value="HOTEL">Hôtel</mat-list-option>
          <mat-list-option value="PARC RESIDENTIEL DE LOISIRS">Parc résidentiel</mat-list-option>
          <mat-list-option value="VILLADE DE VACANCES">Village de vacances</mat-list-option>
          <mat-list-option value="CAMPING">Camping</mat-list-option>
          <mat-list-option value="RESIDENCE DE TOURISME">Résidence de tourisme</mat-list-option>
          <mat-list-option value="tout">Peut m'importe du moment que j'ai un endroit pour dormir!</mat-list-option>
        </mat-selection-list>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <button mat-button (click)="rechercherInfrastructure()">Chercher</button>
  </div>
</div>
