<body>
<div class="d-flex" id="wrapper">
  <div id="page-content-wrapper">
    <h1 class="sousTitre">
      Voici la liste des hébergements disponibles dans l'infrastructure choisie
    </h1>
    <div class="row">
    </div>
    <div class="col-md-12" *ngFor="let unHebergement of dts.hebergementsAffiches">
      <app-hebergement [data] = "unHebergement"></app-hebergement>
    </div>
  </div>
</div>
</body>

