<div mat-dialog-content>
  <p>Voulez vous continuer de regarder les hébergements?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="choix('panier')">Non merci, montrez moi mon panier</button>
  <button mat-button (click)="choix('hebergements')">Oui</button>
</div>
