<body>
  <div class="d-flex" id="wrapper">
    <app-side-bar-festival></app-side-bar-festival>
    <div id="page-content-wrapper">
      <h1 class="sousTitre">
        Voici la liste des festivals correpondants à votre recherche
      </h1>
      <div class="row">
        <div class="col-md-4 " *ngFor="let unFestival of dts.festivalsAffiches">
          <app-festival [data]="unFestival"></app-festival>
        </div>
      </div>
    </div>
  </div>
</body>
<br>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item">
      <a (click)="pagePrecedente()"  class="page-link" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link">{{numeroPage}}</a></li>
    <li class="page-item">
      <a (click)="pageSuivante()" class="page-link" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
