<mat-radio-group [(ngModel)]="choixTri" aria-label="Trier par">
  <mat-radio-button value="note">Note</mat-radio-button><br>
  <mat-radio-button value="prix">Prix</mat-radio-button><br>
  <mat-radio-button value="lieu">Lieu</mat-radio-button><br>
  <mat-radio-button value="">Aucun</mat-radio-button>
</mat-radio-group>
