<div class="container">
  <h1 class="titre">
    <img src="assets/LOGO.png" alt="">
  </h1>
  <div class="row justify-content-center">
    <h1 class="sousTitre">
      Je cherche un ...
    </h1>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6" align="center">
      <mat-card [routerLink]="['/listeFestivals']" class="card">
        <mat-card-header>
          <mat-card-title>Festival</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRU3b6gYOAPjV3oKShwpaRFgJa_HjuKSjow_bP32UM9qXla-TvO&s" alt="">
      </mat-card>
    </div>
    <div class="col-md-6" align="center">
      <mat-card [routerLink]="['/listeInfrastructures']" class="card">
        <mat-card-header>
          <mat-card-title>Hébergement</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTobYQTH4WuuLweXMU7iauzqxjTVDxherar5tdclxPElDHAOBoG-Q&s"  alt="">
      </mat-card>
    </div>
  </div>
</div>
