<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="list-group list-group-flush">
    <h6 class="list-group-item list-group-item-action bg-light"  style="cursor: pointer" (click)="recherche = !recherche">
      Recherche d'une infrastructure
      <mat-icon>search</mat-icon>
    </h6>
    <div class="recherche" *ngIf="recherche">
      <app-formulaire-recherche-infrastructure></app-formulaire-recherche-infrastructure>
    </div>
    <h6 class="list-group-item list-group-item-action bg-light" style="cursor: pointer" (click)="tri = !tri">
      Trier les infrastructures
      <mat-icon >filter_list</mat-icon>
    </h6>
    <div class="recherche" *ngIf="tri">
      <app-formulaire-tri-infrastructure></app-formulaire-tri-infrastructure>
    </div>
  </div>
</div>
